<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <p class="lead">Get Your Recipe</p>
            <div class="list-group">
                <li class="list-group-item" ><a href="/j_foods/new">Create new recipes</a></li>
                <!-- <li class="list-group-item" ><a href="#commentSection">See comments</a></li> -->
                <li class="list-group-item" ><a href="/j_foods">Go Back</a></li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
               <img class="img-responsive" src="<%= j_food.image %>">
               <div class="caption-full">
                   <h4 class="pull-right"><%=j_food.price%> stars</h4>
                   <h4><a><%= j_food.name %></a></h4>
                   <div><%= j_food.description %></div>
                   <p>
                       <em>Submitted By <a href="/users/<%= j_food.author.id %>"><%= j_food.author.username %></a></em>
                   </p>
                   <% if (currentUser && j_food.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                   <a class="btn btn-warning" href="/j_foods/<%= j_food._id %>/edit"> Edit </a>
                   <form class="delete-form" action="/j_foods/<%= j_food._id %>?_method=DELETE" method="POST" >
                       <button  class="btn btn-danger">Delete</button>
                   </form>
                   <% } %>
               </div>
            </div>
           
              
            <a class="btn btn-xs btn-warning" href="/j_foods">Go Back</a>
        </div>
    </div>
</div>            
            
            
            
            
           
            
            
         
            
           




<% include ../partials/footer %>